.conheading {
    display: flex;
    margin-left: 32%;
    font-family: system-ui;
    margin-top: 11%;
    color: darkgray
}

.conpera {
    margin: 76px;
    margin-top: -1px;
    font-family: cursive;
    color: #908b8b;
    
}
